<h1>Your Profile</h1>

<p>
  <%= @profile.firstname %>
</p>
<p>
  <%= @profile.lastname %>
</p>
<p>
  <%= @profile.role %>
</p>
<p>
  <%= @profile.phonenumber %>
</p>
<p>
  <%= @profile.email %>
</p>
<p>
  <%= @profile.linkedin %>
</p>
<p>
  <%= @profile.website %>
</p>
