<h1>Your Profile</h1>

<%= link_to "Add Profile", new_profile_path(current_user)  %>

<%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>

<p>
  <%= @profile.first.firstname %>
</p>
<p>
  <%= @profile.first.lastname %>
</p>
<p>
  <%= @profile.first.role %>
</p>
<p>
  <%= @profile.first.phonenumber %>
</p>
<p>
  <%= @profile.first.email %>
</p>
<p>
  <%= @profile.first.linkedin %>
</p>
<p>
  <%= @profile.first.website %>
</p>

<h1>Your Education</h1>

<h3>School 1</h3>

<p>
  <%= @education.first.program %>
</p>
<p>
  <%= @education.first.institution %>
</p>
<p>
  <%= @education.first.startdate %>
</p>
<p>
  <%= @education.first.enddate %>
</p>

<h3>School 2</h3>

<p>
  <%= @education.second.program %>
</p>
<p>
  <%= @education.second.institution %>
</p>
<p>
  <%= @education.second.startdate %>
</p>
<p>
  <%= @education.second.enddate %>
</p>

<h1>Your Experience</h1>

<h3>Job 1</h3>

<p>
  <%= @experience.first.role %>
</p>
<p>
  <%= @experience.first.company %>
</p>
<p>
  <%= @experience.first.description %>
</p>
<p>
  <%= @experience.first.startdate %>
</p>
<p>
  <%= @experience.first.enddate %>
</p>

<h3>Job 2</h3>

<p>
  <%= @experience.second.role %>
</p>
<p>
  <%= @experience.second.company %>
</p>
<p>
  <%= @experience.second.description %>
</p>
<p>
  <%= @experience.second.startdate %>
</p>
<p>
  <%= @experience.second.enddate %>
</p>

<h3>Job 3</h3>

<p>
  <%= @experience.third.role %>
</p>
<p>
  <%= @experience.third.company %>
</p>
<p>
  <%= @experience.third.description %>
</p>
<p>
  <%= @experience.third.startdate %>
</p>
<p>
  <%= @experience.third.enddate %>
</p>

<h1>Your Skills</h1>

<p>
  <%= @skill.first.name %>
</p>
<p>
  <%= @skill.second.name %>
</p>
<p>
  <%= @skill.third.name %>
</p>
