<h1>Your Profile</h1>

<p>
  <%= best_in_place @profile.first, :firstname %>
</p>
<p>
  <%= best_in_place @profile.first, :lastname %>
</p>
<p>
  <%= best_in_place @profile.first, :role %>
</p>
<p>
  <%= best_in_place @profile.first, :phonenumber %>
</p>
<p>
  <%= best_in_place @profile.first, :email %>
</p>
<p>
  <%= best_in_place @profile.first, :linkedin %>
</p>
<p>
  <%= best_in_place @profile.first, :website %>
</p>

<h1>Your Education</h1>

<h3>School 1</h3>

<p>
  <%= best_in_place @education.first, :program %>
</p>
<p>
  <%= best_in_place @education.first, :institution %>
</p>
<p>
  <%= best_in_place @education.first, :startdate %>
</p>
<p>
  <%= best_in_place @education.first, :enddate %>
</p>

<h3>School 2</h3>

<p>
  <%= best_in_place @education.second, :program %>
</p>
<p>
  <%= best_in_place @education.second, :institution %>
</p>
<p>
  <%= best_in_place @education.second, :startdate %>
</p>
<p>
  <%= best_in_place @education.second, :enddate %>
</p>

<h1>Your Experience</h1>

<h3>Job 1</h3>

<p>
  <%= best_in_place @experience.first, :role %>
</p>
<p>
  <%= best_in_place @experience.first, :company %>
</p>
<p>
  <%= best_in_place @experience.first, :description %>
</p>
<p>
  <%= best_in_place @experience.first, :startdate %>
</p>
<p>
  <%= best_in_place @experience.first, :enddate %>
</p>

<h3>Job 2</h3>

<p>
  <%= best_in_place @experience.second, :role %>
</p>
<p>
  <%= best_in_place @experience.second, :company %>
</p>
<p>
  <%= best_in_place @experience.second, :description %>
</p>
<p>
  <%= best_in_place @experience.second, :startdate %>
</p>
<p>
  <%= best_in_place @experience.second, :enddate %>
</p>

<h3>Job 3</h3>

<p>
  <%= best_in_place @experience.third, :role %>
</p>
<p>
  <%= best_in_place @experience.third, :company %>
</p>
<p>
  <%= best_in_place @experience.third, :description %>
</p>
<p>
  <%= best_in_place @experience.third, :startdate %>
</p>
<p>
  <%= best_in_place @experience.third, :enddate %>
</p>

<h1>Your Skills</h1>

<p>
  <%= best_in_place @skill.first, :name %>
</p>
<p>
  <%= best_in_place @skill.second, :name %>
</p>
<p>
  <%= best_in_place @skill.third, :name %>
</p>
