<div class="width-control">

  <div class="row nav">
    <div class="col-md-4">
      <div class="top-logo">
        <svg width="132px" height="48px" viewBox="0 0 132 48" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
          <desc>Created with Sketch.</desc>
          <defs></defs>
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Desktop-HD" transform="translate(-265.000000, -26.000000)">
                  <text id="Sheet.-Copy-2" font-family="HelveticaNeue-Bold, Helvetica Neue" font-size="24" font-weight="bold" letter-spacing="0.676190019" fill="#3F3F3F">
                      <tspan x="322" y="57">Sheet.</tspan>
                  </text>
                  <rect id="Rectangle-3-Copy-6" fill-opacity="0.569999993" fill="#50E3C2" x="265" y="34" width="29.6142372" height="39.3365854" rx="4"></rect>
                  <rect id="Rectangle-3-Copy-7" stroke="#DA77EE" stroke-width="3" x="274.5" y="27.5" width="26.6142372" height="36.3365854" rx="4"></rect>
              </g>
          </g>
        </svg>
      </div>
    </div>
    <div class="col-md-8 nav-right text-right nav-right-editor">
      <ul class="nav-list">
        <li class="nav-item">Upgrade</li>
        <li class="nav-item">  <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
        <li class="nav-item">  <%= link_to 'My Profile', controller: "profiles", action: "show" %></li>
        <li class="nav-item editor-nav-last"><%= link_to 'Generate PDF', editor_show_path(@editor, :format => 'pdf'), target: '_blank' %></li>
        <li><%= link_to image_tag("https://randomuser.me/api/portraits/women/79.jpg", class: 'profile-image'), controller: "profiles", action: "show" %></li>
      </ul>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <div class="sidebar-toggle">x</div>
    <div class="sidebar">
      <div class="template-picker-header">
        <h2>Templates</h2>
      </div>
      <div class="template-picker">
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
        <div class="template-item"></div>
      </div>
    </div>
  </div>

  <div class="resume-canvas">
    <div class="profile-container">
      <div class="row">
        <p>
          <div class="col-md-6">
          <strong><%= best_in_place @profile.first, :firstname %> <%= best_in_place @profile.first, :lastname %></strong> <br>
          <%= best_in_place @profile.first, :role %> <br>
          </div>
          <div class="col-md-6 text-right">
          <!-- <%= best_in_place @profile.first, :phonenumber %> <br>
          <%= best_in_place @profile.first, :email %> <br>
          <%= best_in_place @profile.first, :linkedin %> <br>
          <%= best_in_place @profile.first, :website %> -->
          </div>
          <div class="col-md-12">
            <h2>Bio</h2>
            <%= best_in_place @profile.first, :bio, :type => :textarea, :as => :textarea %> <br>
          </div>
        </p>
      </div>
    </div>
    <div class="row main-content">
      <div class="experience-container col-md-8">
        <h2>Experience</h2>
        <p>
          <strong><%= best_in_place @experience.first, :role %></strong> <br>
          <%= best_in_place @experience.first, :company %> <br>
          <%= best_in_place @experience.first, :description, :type => :textarea, :as => :textarea %> <br>
          <%= best_in_place @experience.first, :startdate %> -
          <%= best_in_place @experience.first, :enddate %>
        </p>
        <p>
          <strong><%= best_in_place @experience.second, :role %></strong> <br>
          <%= best_in_place @experience.second, :company %> <br>
          <%= best_in_place @experience.second, :description, :type => :textarea, :as => :textarea %> <br>
          <%= best_in_place @experience.second, :startdate %> -
          <%= best_in_place @experience.second, :enddate %>
        </p>
        <p>
          <strong><%= best_in_place @experience.third, :role %></strong> <br>
          <%= best_in_place @experience.third, :company %> <br>
          <%= best_in_place @experience.third, :description, :type => :textarea, :as => :textarea %> <br>
          <%= best_in_place @experience.third, :startdate %> -
          <%= best_in_place @experience.third, :enddate %>
        </p>
      </div>
      <div class="education-skills-container col-md-4">
        <h2>Education</h2>
        <p>
          <strong><%= best_in_place @education.first, :program %></strong> <br>
          <%= best_in_place @education.first, :institution %> <br>
          <%= best_in_place @education.first, :startdate %> -
          <%= best_in_place @education.first, :enddate %>
        </p>
        <p>
          <strong><%= best_in_place @education.second, :program %></strong> <br>
          <%= best_in_place @education.second, :institution %> <br>
          <%= best_in_place @education.second, :startdate %> -
          <%= best_in_place @education.second, :enddate %>
        </p>
        <h2>Skills</h2>
        <p>
          <%= best_in_place @skill.first, :name %> <br>
          <%= best_in_place @skill.second, :name %> <br>
          <%= best_in_place @skill.third, :name %>
        </p>
      </div>
    </div>
    <div class="row contact-details">
      <div>
        <%= best_in_place @profile.first, :email %> <br>
        <%= best_in_place @profile.first, :phonenumber %> <br>
      </div>
    </div>
  </div>
  
</div>
