<h1>Your Experience</h1>

<p>
  <%= @experience.role %>
</p>
<p>
  <%= @experience.company %>
</p>
<p>
  <%= @experience.description %>
</p>
<p>
  <%= @experience.startdate %>
</p>
<p>
  <%= @experience.enddate %>
</p>
